<div class="las fixed bottom-0 mt-76 w-full">
    <footer class="bot bg-neutral-600 rounded-t-xl " >
        <div class="text-xl text-slate-100 font-bold flex justify-center space-y-3">
            <p>Contact Me</p>
        </div>

     
        <div class="flex  all justify-center space-x-4  text-md text-md sm:text-3xl sm:space-x-12  pb-2" >
        <div class="m2 transition-all  duration-1000 "><a href="https://github.com/muskanbharti08" target="_blank"><i class="fa-brands fa-github  hover:text-yellow-500"></i></a></div>
        <div class="m3 transition-all  duration-1000 "><a href="https://www.linkedin.com/in/muskanb8/" target="_blank" ><i class="fa-brands fa-linkedin hover:text-red-300"></i></a></div>
        <div class="m4 transition-all  duration-1000 ">
          <a href="mailto:muskan080202@gmail.com"><i class="fa-solid fa-envelope  hover:text-yellow-400"></i></a></div>
        <div class="m5 transition-all  duration-1000 delay-150"><a href="tel:+9801690299"><i class="fa-solid  hover:text-blue-400 fa-phone"></i></a></div>
    </div>
        

        
    </footer>

</div>